<web-app>
    <!-- Mapeo del servlet Alta -->
    <servlet>
        <servlet-name>Alta</servlet-name>
        <servlet-class>Alta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alta</servlet-name>
        <url-pattern>/Alta</url-pattern>
    </servlet-mapping>

    <!-- Mapeo del servlet List -->
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>List</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/listAlumnos</url-pattern>
    </servlet-mapping>

    <!-- Mapeo del servlet Actualizar -->
    <servlet>
        <servlet-name>Actualizar</servlet-name>
        <servlet-class>Actualizar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Actualizar</servlet-name>
        <url-pattern>/actualizar</url-pattern>
    </servlet-mapping>

    <!-- Mapeo del servlet DeleteAlumno -->
    <servlet>
        <servlet-name>DeleteAlumno</servlet-name>
        <servlet-class>DeleteAlumno</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteAlumno</servlet-name>
        <url-pattern>/deleteAlumno</url-pattern>
    </servlet-mapping>
</web-app>
