<web-app>
    <!-- Mapeo del servlet Alta -->
    <servlet>
        <servlet-name>Alta</servlet-name>
        <servlet-class>Alta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Alta</servlet-name>
        <url-pattern>/Alta</url-pattern>
    </servlet-mapping>

    <!-- Mapeo del servlet List -->
    <servlet>
        <servlet-name>List</servlet-name>
        <servlet-class>List</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>List</servlet-name>
        <url-pattern>/listAlumnos</url-pattern>
    </servlet-mapping>
</web-app>
